mixin fieldbox (name, fields)
  h3= name
  .data-box.mui-list--unstyled
    - each field in fields
      li 
        i(class="fa fa-" + field.icon)
        != " " + field.value

mixin procentbox (name, values)
  h3= name 
  .data.box.mui-list--unstyled
    - each ob in values
      li 
        h4!= ob.name 
        .progress
          .internal(
            style = "width: " + ob.value + "%"
          )

mixin textbox (name, text)
  h3= name
  .data-box
    p!=text.replace(/[\n\r]/g, "<br />")

doctype html
html(lang="es", moznomarginboxes, mozdisallowselectionprint)
  head
    title Curriculum Vitae
    link(rel="stylesheet", type="text/css", href="css/main.css")
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1")
  body
    .mui-container
      .mui-appbar.mui--z2
        h1= name
      .mui-row.mui--clearfix
        .central.mui-col-md-8
          .mui-panel.mui--z2
            .mui--text-headline
              h2
                = "Bio"
            p= profile
          .mui-panel.mui--z2
            .mui--text-headline
              h2
                = " Experiencia"

            // Jobs
            - each job in jobs
              .job
                .muy--text-headline
                  h3 
                    i.fa.fa-briefcase
                    = " " + job.title
                    = " - " + job.rol
                .job-data.mui--text-black-54
                  .job-meta.mui-row
                    .mui-col-md-4
                      span= job.when 
                    .technologies.mui-col-md-8
                      ul.mui-list--inline.mui--pull-right
                        each tech in job.technologies
                          li= tech
                  .mui-row.mui--clearfix
                    .mui-col-md-12
                      p= job.description
                .mui-divider

        .mui-col-md-4

          if thumb
            .mui-panel.mui--z2
              .data-box.thumb-box
                img(src=thumb)

          .mui-panel.mui--z2
            +fieldbox("Información útil", info)

          .mui-panel.mui--z2
            +fieldbox("Información de contacto", contact)

          .mui-panel.mui--z2
            +fieldbox("Solcial media", social)

          .mui-panel.mui--z2
            +procentbox("Idiomas", languajes)
    
          .mui-panel.mui--z2
            +procentbox("Tecnologías", technologies)

          if geekcode
            .mui-panel.mui--z2
              +textbox("Geek code", geekcode)

    footer
      .mui-container.mui--text-center
        span Este CV es privado, no publique esta información
        .mui--pull-right
          i.fa.fa-github
          a(href="https://github.com/exos/gencv")= " exos/gencv"
    script(src="js/main.js")
